// Normalize that shit
@import "partials/normalize";

// FontAwesome
@import "font-awesome/font-awesome";

// Wonderful mixins
@import "partials/toolbox";

// Colors
@import "partials/colors";

// Fonts
@import "partials/fonts";

// Extra Variables
$header-height: 74px;

html,
html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
	box-sizing: border-box;
	*,
	*:before,
	*:after {
		box-sizing: border-box;
		transition: 0.3s ease-out;
		margin: 0;
		padding: 0;
	}
	strong,
	span,
	em,
	b,
	i {
		transition: none !important;
		&:before,
		&:after {
			transition: none !important;
		}
	}

}

html, body {
	background: $dark-blue;
	color: $white;
	height: 100%;
	&.open {
		overflow: hidden;
	}
}

body {
	font-family: $ds;
	font-size: 100%;
	line-height: 1.8;
}

hr {
	border-color: $purple;
	border-width: 1px 0 0 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $raleway;
	letter-spacing: -2px;
	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;
	margin: 10px 0;
}

h1 {
	font-size: 38px;
	letter-spacing: -1.25px;
}

h2 {
	font-size: 32px;
	letter-spacing: -1.25px;
}

h3 {
	font-size: 26px;
	letter-spacing: -1px;
}

h4 {
	font-size: 20px;
	letter-spacing: -1px;
}

a {
	color: $purple;
	text-decoration: none !important;
	&:hover {
		color: $teal;
	}
}

img {
	max-width: 100%;
}

// Page stuff
@import "partials/header";
@import "partials/home";
@import "partials/project";
@import "partials/interior";
@import "partials/footer";
