---
layout: default
image: desk-headphones.jpg
line1: Hello. My name is Kyle Brumm.
line2: I'm an Iowa based developer/designer.
---

<div class="page">

	<div class="latest">

		<div class="latest--posts">
			<h3>Recent Posts</h3>
			<ul>
				{% for post in site.posts %}
					{% unless post.categories contains "project" %}
						<li>
							<span class="post--date">{{ post.date | date: "%b %-d, %Y" }}</span>
							<a class="post--title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</li>
					{% endunless %}
				{% endfor %}
			</ul>
		</div>

		<div class="latest--projects">
			<h3>Recent Projects</h3>
			<div>
				{% for post in site.categories.project limit:3 %}
					<a class="project--single" href="{{ post.url | prepend: site.baseurl }}" style="background: url('/build/img/{{ post.image }}') no-repeat center center">
					</a>
				{% endfor %}
			</div>
		</div>
		
	</div>

</div>
