---
layout: page
title: Projects
permalink: projects
slug: projects
---

{% for project in site.data.projects %}
    <div class="item">
        <h4>{{ project.name }}</h4>

        <p class="description">
            {{ project.description }}
        </p>

        <div class="links">
            {% for link in project.links %}
                <a href="{{ link.url }}" target="_blank"><i class="fa fa-{{ link.icon }}"></i></a>
            {% endfor %}
        </div>

        <hr>
    </div>
{% endfor %}
