---
layout: page
title: Work
permalink: work
slug: work
---

{% for work in site.data.work %}
    <div class="item">
        <h4><a href="{{ work.link }}" target="_blank">{{ work.name }}</a></h4>

        <strong>{{ work.role }}</strong>

        <!-- <p>{{ work.description }}</p> -->

        {% if work.tools %}
            <ul class="list-plain list-inline">
                {% for tool in work.tools %}
                    <li><small>{{ tool }}</small></li>
                {% endfor %}
            </ul>
        {% endif %}

        <hr>
    </div>
{% endfor %}
