<footer class="footer">
    <strong>{{ site.title | escape }}</strong> &copy; {{ site.time | date: '%Y' }}
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

<!-- ScrollReveal -->
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>

<!-- Main JS -->
<script>
    ;(function(global) {
        /**
         *  Social sharing popup window
         */
        var jsSocialShares = document.querySelectorAll('.js-social-share');
        if(jsSocialShares) {
            [].forEach.call(jsSocialShares, function(anchor) {
                anchor.addEventListener('click', function(e) {

                    var url = this.href,
                        width = 500,
                        height = 300,
                        left = (screen.width / 2) - (width / 2),
                        top = (screen.height / 2) - (height / 2);

                    if(/^(f|ht)tps?:\/\//i.test(url) || /^mailto/i.test(url)) {
                        e.preventDefault();
                        window.open(
                            url,
                            '',
                            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=' + width + ',height=' + height + ',top=' + top + ',left=' + left
                        );
                    }

                });
            });
        }

        window.sr = ScrollReveal({ origin: 'bottom', distance: '2rem', scale: 1 });
        sr.reveal('.posts li');
    })(window);
</script>

<!-- Disqus -->
{% if page.is_post %}
    <script id="dsq-count-scr" src="//kylebrumm.disqus.com/count.js" async></script>
{% endif %}
