<header class="site-header">

	<div class="site-header-contents">
		<!-- <a class="site-title" href="{{ site.baseurl }}/">Kyle Brumm</a> -->
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

		<div class="site-nav">
			<a href="#" class="nav-menu-trigger"><div class="bar"></div></a>
		</div>
	</div>

</header>

<nav class="nav-menu">
	<ul class="nav-menu-links">
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		{% for page in site.pages | sort:"name" %}
			{% if page.title %}<li><a href="{{ page.url }}">{{ page.title }}</a></li>{% endif %}
		{% endfor %}
	</ul>

	<ul class="social-icons">
		{% for sites in site.contact %}
			{% if sites %}<li>
				<a href="{{ sites[1].url }}{{ sites[1].username }}">
					<span class="username"></span>
				</a>
			</li>{% endif %}
		{% endfor %}
	</ul>
</nav>
