<!-- Goodies -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Titles -->
{% if page.title %}
    <meta property="og:title" content="{{ page.title | escape }} | {{ site.title | escape }}">
    <meta name="twitter:title" content="{{ page.title | escape }} | {{ site.title | escape }}">
{% else %}
    <meta property="og:title" content="{{ site.title | escape }}">
    <meta name="twitter:title" content="{{ site.title | escape }}">
{% endif %}

<!-- Descriptions -->
{% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

<!-- SEO -->
<meta name="keywords" content="des moines, dsm, web development, web design, websites, kyle, brumm">
<meta name="author" content="{{ site.title }}">

<!-- Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url | prepend: site.url }}">

{% if page.featured_image %}
    <meta property="og:image" content="{{ site.url }}/media/posts/{{ page.featured_image }}">
    <meta property="twitter:image" content="{{ site.url }}/media/posts/{{ page.featured_image }}">
{% else %}
    <meta property="og:image" content="{{ site.url }}/media/cover.jpg">
    <meta property="twitter:image" content="{{ site.url }}/media/cover.jpg">
{% endif %}


<!-- Other -->
<link rel="shortcut icon" type="image/png" href="{{ site.url }}/favicon.png">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
