<div class="social-media">
    <a class="js-social-share social-twitter" href="https://twitter.com/share?text={{ page.title | escape }}&url={{ page.url | prepend: site.url }}">
        <i class="fa fa-twitter"></i>
        <span class="hide">Twitter</span>
    </a>

    <a class="js-social-share social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}">
        <i class="fa fa-facebook"></i>
        <span class="hide">Facebook</span>
    </a>

    <a class="js-social-share social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url }}&title={{ page.title | escape }}&source={{ site.url }}&summary={{ post.excerpt | strip_html }}">
        <i class="fa fa-linkedin"></i>
        <span class="hide">LinkedIn</span>
    </a>

    <a class="js-social-share social-google-plus" href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}">
        <i class="fa fa-google-plus"></i>
        <span class="hide">Google+</span>
    </a>
</div>
