.section--post {

    .post-content {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $gray-ultralight;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}
