// Sections

.section--post {
    .post-content {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $gray-ultralight;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.section--home {
    .posts li {
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid $gray-ultralight;
        text-align: center;
    }

    h4 {
        margin: 0;
    }

    .post-title {
        color: $primary;
        font-size: 1.25rem;
        line-height: 1.25;
        text-decoration: none;

        &:hover {
            color: $secondary-light;
        }

        @media (min-width: $max-width) {
            font-size: 1.75rem;
        }
    }

    .post-meta {
        font-size: 0.8rem;

        span {
            text-transform: uppercase;
        }
    }
}

.projects {
    .page-content {
        text-align: center;
    }
}
