// Custom Colors
// --------------------------------------------------
	$white: 				#ffffff !default;
	$black: 				#000000 !default;
	$grey: 					#CCC !default;
	$teal-bright: 	#0FE !default;
	$blue-dark:			#222232 !default;
	$purple:				#B96CFF !default;
	$teal:					#56D7C6 !default;