// Custom Colors
// --------------------------------------------------
	$white: 				#ffffff !default;
	$black: 				#000000 !default;
	$dark-blue:			#222232 !default;
	$purple:				#B96CFF !default;
	$teal:					#56D7C6 !default;