@include keyframes(mainTrans) {
	0% {
		background: $purple;
	}
	50%, 100% {
		background: transparent;
	}
}
@include keyframes(beforeTrans) {
	0% {
		top: 0.625rem;
		@include rotate(0);
	}
	50% {
		top: 0;
		@include rotate(0);
	}
	100% {
		top: 0;
		@include rotate(45deg);
	}
}
@include keyframes(afterTrans) {
	0% {
		top: -0.625rem;
		@include rotate(0);
	}
	50% {
		top: 0;
		@include rotate(0);
	}
	100% {
		top: 0;
		@include rotate(-45deg);
	}
}

.site-title,
.site-nav {
	line-height: 150px;
	@include bp(small) {
		line-height: 80px;;
	}
}

.site-header,
.nav-menu {
	font-family: $raleway;
}

// http://tympanus.net/Blueprints/AnimatedHeader/
.site-header {
	position: relative;
	background: $dark-blue;
	border-top: 5px solid $teal;
	border-bottom: 1px solid $teal;
	overflow: hidden;
	height: 150px;
	width: 100%;
	z-index: 9999;
	&.scrolled {
		position: fixed;
		height: 80px;
		.site-title,
		.site-nav {
			line-height: 80px;
		}
		.site-title {
			font-size: 2rem;
		}
	}
	@include bp(small) {
		height: 80px;
	}
}

.site-title,
.site-title:hover,
.site-title:visited {
	position: relative;
	display: block;
	font-size: 2.5rem;
	float: left;
	z-index: 9999;
	span {
		font-weight: 700;
	}
	@include bp(small) {
		font-size: 2rem;
	}
}

.site-nav {
	float: right;
}

.nav-menu-trigger {
	position: relative;
	display: inline-block;
	z-index: 9999;
	margin-left: 1rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 2.2rem;
	span {
		position: relative;
		top: 7px;
		@include bp(small) {
			display: none !important;
		}
	}
	@include bp(small) {
		font-size: 25px;
	}
	@include bp(not-small) {
		&:hover {
			.bar,
			.bar:before,
			.bar:after {
				background: $teal;
			}
			.bar:before {
				top: 0.8rem;
			}
			.bar:after {
				top: -0.8rem;
			}
		}
	}
	.bar {
		position: relative;
		display: inline-block;
		width: 2.2rem;
		height: 0.3125rem;
		background: $purple;
		&:before,
		&:after {
			position: absolute;
			content: '';
			display: block;
			height: 0.3125rem;
			width: 2.2rem;
			background: $purple;
			z-index: -1;
			@include rotate(0);
		}
		&:before {
			top: 0.625rem;
		}
		&:after {
			top: -0.625rem;
		}
	}
	&.open {
		color: $teal;
		.bar {
			background: transparent;
			@include animation(mainTrans 0.5s);
			&:before,
			&:after {
				background: $teal;
			}
			&:before {
				top: 0;
				@include rotate(45deg);
				@include animation(beforeTrans 0.5s);
			}
			&:after {
				top: 0;
				@include rotate(-45deg);
				@include animation(afterTrans 0.5s);
			}
		}
	}
}

.nav-menu {
	@include fixed(5px, null, null, 0);
	background: rgba($dark-blue, 0.95);
	border-bottom: 5px solid $teal;
	text-align: center;
	@include square(100%);
	@include translateY(-100%);
	z-index: 9998;
	overflow: hidden;
	&.open {
		@include translateY(0);
		top: -5px;
	}
	&.scrolled {
		.page-links {
			margin-top: 90px;
		}
	}
	h2 {
		margin-top: 20px;
	}
	.page-links {
		margin-top: 160px;
		width: 100%;
		@include bp(small) {
			margin-top: 90px;
		}
		li {
			display: block;
			a {
				display: block;
				font-size: 2rem;
				padding: 30px 0;
				line-height: 1;
				background: transparent;
				&:hover {
					background: lighten($dark-blue, 5%);
				}
			}
		}
	}
	.social-icons {
		li {
			display: inline-block;
			a {
				display: inline-block;
				font-family: $fa;
				font-size: 2.5rem;
				padding: 0 5px;
			}
			&:nth-of-type(1) > a {
				&:before {
					content: $fa-var-envelope;
				}
			}
			&:nth-of-type(2) > a {
				&:before {
					content: $fa-var-github-alt;
				}
			}
			&:nth-of-type(3) > a {
				&:before {
					content: $fa-var-facebook;
				}
			}
			&:nth-of-type(4) > a {
				&:before {
					content: $fa-var-twitter;
				}
			}
			&:nth-of-type(5) > a {
				&:before {
					content: $fa-var-dribbble;
				}
			}
		}
	}
}
