@include keyframes(mainTrans) {
	0% {
		background: $teal;
	}
	50%, 100% {
		background: transparent;
	}
}
@include keyframes(beforeTrans) {
	0% {
		top: 0.625rem;
		@include rotate(0);
	}
	50% {
		top: 0;
		@include rotate(0);
	}
	100% {
		top: 0;
		@include rotate(45deg);
	}
}
@include keyframes(afterTrans) {
	0% {
		top: -0.625rem;
		@include rotate(0);
	}
	50% {
		top: 0;
		@include rotate(0);
	}
	100% {
		top: 0;
		@include rotate(-45deg);
	}
}

.site--title,
.site--nav {
	line-height: $header-height;
	@include bp(small) {
		line-height: $header-height-small;;
	}
}

.site--header,
.nav--menu {
	font-family: $raleway;
}

.site--header {
	position: relative;
	position: fixed;
	top: 0;
	background: $dark-blue;
	border-top: 5px solid $teal;
	border-bottom: 1px solid $teal;
	overflow: hidden;
	width: 100%;
	z-index: 9999;
	@include translate3d(0,0,0);
	&.scrolled {
		.site--title,
		.site--nav {
			line-height: $header-height-small;
		}
		.site--title {
			font-size: 2rem;
		}
	}
}

.site--header--contents {
	@include container;
}

.site--title,
.site--title:hover,
.site--title:visited {
	position: relative;
	display: block;
	font-size: 2.5rem;
	float: left;
	z-index: 9999;
	span {
		font-weight: 700;
	}
	@include bp(small) {
		font-size: 2rem;
	}
}

.site--nav {
	float: right;
}

.nav--menu--trigger {
	position: relative;
	display: inline-block;
	z-index: 9999;
	margin-left: 1rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 2.2rem;
	@include translateZ(0);
	span {
		position: relative;
		top: 7px;
		@include bp(small) {
			display: none !important;
		}
	}
	@include bp(small) {
		font-size: 25px;
	}
	@include bp(not-small) {
		&:hover {
			.bar,
			.bar:before,
			.bar:after {
				background: $teal;
			}
			.bar:before {
				top: 0.8rem;
			}
			.bar:after {
				top: -0.8rem;
			}
		}
	}
	.bar {
		position: relative;
		display: inline-block;
		width: 2.2rem;
		height: 0.3125rem;
		background: $purple;
		@include box-shadow(0 0 1px rgba($black, 0.05));
		@include translate3d(0,0,0);
		&:before,
		&:after {
			position: absolute;
			content: '';
			display: block;
			height: 0.3125rem;
			width: 2.2rem;
			background: $purple;
			z-index: -1;
			@include box-shadow(0 0 1px rgba($black, 0.05));
			@include transform(translate3d(0,0,0) rotate(0));
		}
		&:before {
			top: 0.625rem;
		}
		&:after {
			top: -0.625rem;
		}
	}
	&.open {
		color: $teal;
		.bar {
			background: transparent;
			@include animation(mainTrans 0.5s);
			&:before,
			&:after {
				background: $teal;
			}
			&:before {
				top: 0;
				@include rotate(45deg);
				@include animation(beforeTrans 0.5s);
			}
			&:after {
				top: 0;
				@include rotate(-45deg);
				@include animation(afterTrans 0.5s);
			}
		}
	}
}

.nav--menu {
	@include fixed(5px, null, null, 0);
	background: rgba($dark-blue, 0.95);
	border-bottom: 5px solid $teal;
	text-align: center;
	@include square(100%);
	@include translateY(-100%);
	z-index: 9998;
	overflow: hidden;
	&.open {
		@include translateY(0);
		top: 0;
	}
	h2 {
		margin-top: 20px;
	}
	.nav--menu--links {
		margin-top: $header-height + 6px;
		width: 100%;
		@include bp(small) {
			margin-top: $header-height-small + 6px;
		}
		li {
			display: block;
			a {
				display: block;
				font-size: 2rem;
				padding: 30px 0;
				line-height: 1;
				text-transform: uppercase;
				background: transparent;
				&:hover {
					letter-spacing: 2px;
					background: rgba($light-blue, 0.5);
				}
			}
		}
	}
	&.scrolled {
		.nav-menu--links {
			margin-top: $header-height-small + 6px;
		}
	}
	.social--icons {
		li {
			display: inline-block;
			a {
				display: inline-block;
				font-family: $fa;
				font-size: 2.5rem;
				padding: 0 5px;
				@include transition(none);
			}
			&:nth-of-type(1) > a {
				&:before {
					content: $fa-var-envelope-o;
				}
			}
			&:nth-of-type(2) > a {
				&:before {
					content: $fa-var-github-alt;
				}
			}
			&:nth-of-type(3) > a {
				&:before {
					content: $fa-var-facebook;
				}
			}
			&:nth-of-type(4) > a {
				&:before {
					content: $fa-var-twitter;
				}
			}
			&:nth-of-type(5) > a {
				&:before {
					content: $fa-var-dribbble;
				}
			}
		}
	}
}
