.contents {
	&.not-home {
		margin-top: 170px;
		padding: 30px 0;
		&.scrolled {
			margin-top: 100px;
		}
		@include bp(small) {
			margin-top: 100px;
		}
	}
}

.page,
.post {
	@include container;
}
