.page--projects {
	@include container(100%);
}
.project--single {
	position: relative;
	@include span(4 of 12 no-gutters);
	height: 250px;
	@include background-size(cover !important);
	&:hover {
		background-position: 50% 65% !important;
		.project--single--overlay,
		.project--single--title,
		.project--single--line-top,
		.project--single--line-bottom {
			@include opacity(100);
		}
		.project--single--title {
			@include transform(translate3d(0,0,0) translate(-50%, -50%) scale(1));
		}
		.project--single--line-top,
		.project--single--line-bottom {
			@include size(90%, 1px);
		}
	}
}

.project--single--overlay {
	@include coverer;
	@include opacity(0);
	background: rgba($teal, 0.75);
	color: $dark-blue;
	text-align: center;
}

.project--single--title {
	margin: 0;
	font-family: $raleway;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: -1px;
	line-height: 1;
	@include centerer;
	@include opacity(0);
	@include transform(translate(-50%, -50%) scale(1.4));
	span {
		font-weight: 700;
	}
}

.project--single--line-top,
.project--single--line-bottom {
	@include size(0, 1px);
	background: $dark-blue;
	@include opacity(0);
	@include transition(0.8s);
}

.project--single--line-top {
	@include absolute(-12px, null, null, 0);
}

.project--single--line-bottom {
	@include absolute(null, 0, -10px);
}